html {
    margin: 0;
    padding: 0;
    min-height: 680px;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 32px;
}

h1.subheader {
    font-size: 2.2rem;
    margin-top: 32px;
}

img.profile {
    border-radius: 50%;
    width: 30vh;
    margin-top: 32px;
    margin-bottom: 32px;
}

button.btn-icon, a.btn-icon {
    border: 0;
    padding: 0;
}

@media (min-height: 768px), (min-width: 996px) {
    html, body {
        height: 100%;
        min-height: 100%;
        max-height: 100%;
    }

    main {
        height: 100%;
        min-height: 100%;
        max-height: 100%;
        align-items: center;
    }

    img.profile {
        transform: translateY(-64px);
    }

    footer {
        position: fixed;
        bottom: 5vh;
        width: 100%;
    }
}

/* Background canvas */
#background {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -100;
}
